@import './reset.scss';
@import './variables.scss';

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  @extend %flex-center;
  height: 100vh;
  background: $main-bg;
  text-align: center;
}
.calculator {
  font-family: $font;
  color: $white;
}

.board {
  border: 1px solid $main;
  display: inline-block;
  width: auto;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

button {
  border: $border;
  width: 40px;
  height: 40px;
  display: inline-block;
  color: $white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

h2 {
  color: $main;
}
